In [1]:
pwd

'C:\\Users\\sanji\\Documents\\project\\NYC-CitiBike_Analysis\\Alex V'

In [2]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
#gmaps.configure(api_key=gkey)

In [3]:
jan_19_csv = pd.read_csv("../data/201901-citibike-tripdata.csv")
feb_19_csv = pd.read_csv("../data/201902-citibike-tripdata.csv")
mar_19_csv = pd.read_csv("../data/201903-citibike-tripdata.csv")
jan_feb_merge = pd.merge(jan_19_csv,feb_19_csv, how = "outer")
quarter_01_2019 = pd.merge(jan_feb_merge, mar_19_csv, how = "outer")

In [4]:
april_2019_csv = pd.read_csv("../data/201904-citibike-tripdata.csv")
may_2019_csv = pd.read_csv("../data/201905-citibike-tripdata.csv")
june_2019_csv = pd.read_csv("../data/201906-citibike-tripdata.csv")
april_may_merge = pd.merge (april_2019_csv,may_2019_csv, how = "outer")
quarter_02_2019 = pd.merge(april_may_merge, june_2019_csv, how = "outer")

In [5]:
july_2019_csv = pd.read_csv("../data/201907-citibike-tripdata.csv")
august_2019_csv = pd.read_csv("../data/201908-citibike-tripdata.csv")
september_2019_csv = pd.read_csv("../data/201909-citibike-tripdata.csv")
july_august_merge = pd.merge(july_2019_csv,august_2019_csv, how = "outer")
quarter_03_2019 = pd.merge(july_august_merge,september_2019_csv, how = "outer")

In [6]:
october_2019_csv = pd.read_csv("../data/201910-citibike-tripdata.csv")
november_2019_csv = pd.read_csv("../data/201911-citibike-tripdata.csv")
december_2019_csv = pd.read_csv("../data/201912-citibike-tripdata.csv")
october_november_merge = pd.merge(october_2019_csv,november_2019_csv, how = "outer")
quarter_04_2019 = pd.merge(october_november_merge,december_2019_csv, how = "outer")

In [7]:
H1_2019 = pd.merge(quarter_01_2019,quarter_02_2019, how = "outer")

In [8]:
H2_2019 = pd.merge(quarter_03_2019,quarter_04_2019, how = "outer")

In [15]:
Y_2019 = pd.merge(H1_2019, H2_2019, how = "outer")

In [9]:
quarter_01_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3238991 entries, 0 to 3238990
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 395.4+ MB

In [10]:
quarter_01_2019.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [11]:
quarter_01_2019.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1

In [12]:
# df = quarter_01_2019.groupby(['bikeid'])['usertype'].value_counts()
# df.tail(20)

In [16]:
df = Y_2019.groupby(['usertype', 'bikeid']).size()
df

usertype    bikeid
Customer    14529     140
            14530     159
            14531     144
            14532       1
            14533     181
                     ...
Subscriber  42044     569
            42045     502
            42046     538
            42068       2
            42088       1
Length: 39009, dtype: int64

In [18]:
Y_2019.loc[Y_2019['bikeid'] == 42068 ]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
16994125,1405,2019-10-14 15:33:38.3370,2019-10-14 15:57:04.0470,3453.0,Devoe St & Lorimer St,40.713352,-73.949103,285.0,Broadway & E 14 St,40.734546,-73.990741,42068,Subscriber,1992,1
17849263,193,2019-10-27 14:41:16.2750,2019-10-27 14:44:29.5850,285.0,Broadway & E 14 St,40.734546,-73.990741,335.0,Washington Pl & Broadway,40.729039,-73.994046,42068,Subscriber,1984,1