In [1]:
import csv
import pandas as pd

In [29]:
import_csv = pd.read_csv("2014-02 - Citi Bike trip data.csv")
import_csv

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224731,848,2014-02-28 23:57:13,2014-03-01 00:11:21,498,Broadway & W 32 St,40.748549,-73.988084,432,E 7 St & Avenue A,40.726218,-73.983799,17413,Subscriber,1976,1
224732,1355,2014-02-28 23:57:55,2014-03-01 00:20:30,470,W 20 St & 8 Ave,40.743453,-74.000040,302,Avenue D & E 3 St,40.720828,-73.977932,15608,Subscriber,1985,2
224733,304,2014-02-28 23:58:17,2014-03-01 00:03:21,497,E 17 St & Broadway,40.737050,-73.990093,334,W 20 St & 7 Ave,40.742388,-73.997262,17112,Subscriber,1968,1
224734,308,2014-02-28 23:59:10,2014-03-01 00:04:18,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,365,Fulton St & Grand Ave,40.682232,-73.961458,14761,Subscriber,1982,1
224735,603,2014-02-28 23:59:47,2014-03-01 00:09:50,252,MacDougal St & Washington Sq,40.732264,-73.998522,475,E 16 St & Irving Pl,40.735243,-73.987586,18783,Subscriber,1960,1

In [23]:
# Popular Start Station
station_df = import_csv["start station name"]
station_df_most = station_df.value_counts()
station_df_most.head(10)

Lafayette St & E 8 St       2920
Pershing Square N           2719
E 17 St & Broadway          2493
W 21 St & 6 Ave             2403
8 Ave & W 31 St             2171
8 Ave & W 33 St             1944
W 41 St & 8 Ave             1916
University Pl & E 14 St     1808
Cleveland Pl & Spring St    1796
Broadway & E 14 St          1795
Name: start station name, dtype: int64

In [28]:
# Popular End Station
station_df_end = import_csv["end station name"]
station_df_most2 = station_df_end.value_counts()
station_df_most2.head(10)

Lafayette St & E 8 St       2622
W 21 St & 6 Ave             2453
Pershing Square N           2419
E 17 St & Broadway          2320
8 Ave & W 31 St             2205
W 41 St & 8 Ave             1965
University Pl & E 14 St     1883
Broadway & E 14 St          1854
Broadway & E 22 St          1825
Cleveland Pl & Spring St    1780
Name: end station name, dtype: int64