In [1]:
import csv
import pandas as pd

In [2]:
jan_19_csv = pd.read_csv("2019 Data/201901-citibike-tripdata.csv")
# jan_19_csv

In [3]:
# Popular Start Station
# station_df = jan_19_csv["start station name"]
# station_df_most = station_df.value_counts()
# station_df_most.head(10)

In [4]:
# Popular End Station
# station_df_end = jan_19_csv["end station name"]
# station_df_most2 = station_df_end.value_counts()
# station_df_most2.head(10)

In [5]:
feb_19_csv = pd.read_csv("2019 Data/201902-citibike-tripdata.csv")
# feb_19_csv

In [6]:
mar_19_csv = pd.read_csv("2019 Data/201903-citibike-tripdata.csv")
# mar_19_csv

In [7]:
jan_feb_merge = pd.merge(jan_19_csv,feb_19_csv, how = "outer")

In [8]:
quarter_01_2019 = pd.merge(jan_feb_merge, mar_19_csv, how = "outer")
# quarter_01_2019

In [9]:
april_2019_csv = pd.read_csv("2019 Data/201904-citibike-tripdata.csv")
may_2019_csv = pd.read_csv("2019 Data/201905-citibike-tripdata.csv")
june_2019_csv = pd.read_csv("2019 Data/201906-citibike-tripdata.csv")

In [10]:
april_may_merge = pd.merge (april_2019_csv,may_2019_csv, how = "outer")

In [11]:
quarter_02_2019 = pd.merge(april_may_merge, june_2019_csv, how = "outer")

In [12]:
july_2019_csv = pd.read_csv("2019 Data/201907-citibike-tripdata.csv")
august_2019_csv = pd.read_csv("2019 Data/201908-citibike-tripdata.csv")
september_2019_csv = pd.read_csv("2019 Data/201909-citibike-tripdata.csv")

In [13]:
july_august_merge = pd.merge(july_2019_csv,august_2019_csv, how = "outer")
quarter_03_2019 = pd.merge(july_august_merge,september_2019_csv, how = "outer")

In [14]:
october_2019_csv = pd.read_csv("2019 Data/201910-citibike-tripdata.csv")
november_2019_csv = pd.read_csv("2019 Data/201911-citibike-tripdata.csv")
december_2019_csv = pd.read_csv("2019 Data/201912-citibike-tripdata.csv")

In [15]:
october_november_merge = pd.merge(october_2019_csv,november_2019_csv, how = "outer")
quarter_04_2019 = pd.merge(october_november_merge,december_2019_csv, how = "outer")

In [14]:
# print(len(quarter_01_2019))
# print(len(quarter_02_2019))
# print(len(quarter_03_2019))
# print(len(quarter_04_2019))

3238991
5816027
6970188
4526491

In [16]:
H1_2019 = pd.merge(quarter_01_2019,quarter_02_2019, how = "outer")

In [17]:
H2_2019 = pd.merge(quarter_03_2019,quarter_04_2019, how = "outer")

In [ ]:
# full_2019_data = pd.merge(H1_2019,H2_2019, how = "outer")

In [17]:
# print(len(quarter_01_2019)+len(quarter_02_2019)+len(quarter_03_2019)+len(quarter_04_2019))
# print(len(H1_2019) + len(H2_2019))

20551697
20551697

In [18]:
H1_station_start_df = H1_2019["start station name"]
H1_station_start_df_most = H1_station_start_df.value_counts()
H1_station_start_df_most.head(10)

Pershing Square North            70970
8 Ave & W 31 St                  53950
Broadway & E 22 St               53372
E 17 St & Broadway               52673
Broadway & E 14 St               50704
Broadway & W 60 St               45800
West St & Chambers St            45576
W 21 St & 6 Ave                  44965
W 20 St & 11 Ave                 43672
Christopher St & Greenwich St    42904
Name: start station name, dtype: int64

In [19]:
H1_station_end_df = H1_2019["end station name"]
H1_station_end_df_most = H1_station_end_df.value_counts()
H1_station_end_df_most.head(10)

Pershing Square North    70861
Broadway & E 22 St       56986
8 Ave & W 31 St          54749
E 17 St & Broadway       53448
Broadway & E 14 St       51386
West St & Chambers St    48842
W 21 St & 6 Ave          45103
W 20 St & 11 Ave         44630
Broadway & W 60 St       43888
12 Ave & W 40 St         43555
Name: end station name, dtype: int64

In [20]:
H2_station_start_df = H2_2019["start station name"]
H2_station_start_df_most = H2_station_start_df.value_counts()
H2_station_start_df_most.head(10)

Pershing Square North            85605
E 17 St & Broadway               69108
8 Ave & W 31 St                  66008
W 21 St & 6 Ave                  65340
Broadway & E 14 St               62308
West St & Chambers St            60060
Broadway & E 22 St               59766
Christopher St & Greenwich St    58509
Broadway & W 60 St               57367
12 Ave & W 40 St                 56881
Name: start station name, dtype: int64

In [21]:
H2_station_end_df = H2_2019["end station name"]
H2_station_end_df_most = H2_station_end_df.value_counts()
H2_station_end_df_most.head(10)

Pershing Square North            84675
E 17 St & Broadway               72018
West St & Chambers St            67161
8 Ave & W 31 St                  66882
Broadway & E 22 St               66160
W 21 St & 6 Ave                  65420
Broadway & E 14 St               62792
12 Ave & W 40 St                 60193
Christopher St & Greenwich St    58644
Broadway & W 60 St               56043
Name: end station name, dtype: int64

In [67]:
# Finding the most popular station where people start their trips from in 2019
start_station_2019 = H1_station_start_df_most + H2_station_start_df_most
start_station_2019_df = pd.DataFrame(start_station_2019)
# test_df
sort_start_station_2019_df = start_station_2019_df.sort_values(by = "start station name", ascending = False)
top_10_start_station = sort_start_station_2019_df.head(10)

In [68]:
end_station_2019 = H1_station_end_df_most + H2_station_end_df_most
end_station_2019_df = pd.DataFrame(end_station_2019)
sort_end_station_2019_df = end_station_2019_df.sort_values(by = "end station name", ascending = False)
top_10_end_station = sort_end_station_2019_df.head(10)
top_10_end_station

                               end station name
Pershing Square North                  155536.0
E 17 St & Broadway                     125466.0
Broadway & E 22 St                     123146.0
8 Ave & W 31 St                        121631.0
West St & Chambers St                  116003.0
Broadway & E 14 St                     114178.0
W 21 St & 6 Ave                        110523.0
12 Ave & W 40 St                       103748.0
Christopher St & Greenwich St          101823.0
Broadway & W 60 St                      99931.0

In [62]:
# finding coordinates of particular stations

pershing_lat = jan_19_csv.loc[jan_19_csv["start station name"] == "Pershing Square North", "start station latitude"].unique()
pershing_lng = jan_19_csv.loc[jan_19_csv["start station name"] == "Pershing Square North", "start station longitude"].unique()
pershing_coord = (pershing_lat[0], pershing_lng[0])
print(pershing_coord)

e_17_lat = jan_19_csv.loc[jan_19_csv["start station name"] == "E 17 St & Broadway", "start station latitude"].unique()
e_17_lng = jan_19_csv.loc[jan_19_csv["start station name"] == "E 17 St & Broadway", "start station longitude"].unique()
e_17_coord = (e_17_lat[0], e_17_lng[0])
print(e_17_coord)

broad_e22_lat = jan_19_csv.loc[jan_19_csv["start station name"] == "Broadway & E 22 St", "start station latitude"].unique()
broad_e22_lng = jan_19_csv.loc[jan_19_csv["start station name"] == "Broadway & E 22 St", "start station longitude"].unique()
broad_e22_coord = (broad_e22_lat[0], broad_e22_lng[0])
print(broad_e22_coord)

eighth_w31_lat = jan_19_csv.loc[jan_19_csv["start station name"] == "8 Ave & W 31 St", "start station latitude"].unique()
eighth_w31_lng = jan_19_csv.loc[jan_19_csv["start station name"] == "8 Ave & W 31 St", "start station longitude"].unique()
eighth_w31_coord = (eighth_w31_lat[0], eighth_w31_lng[0])
print(eighth_w31_coord)

west_chambers_lat = jan_19_csv.loc[jan_19_csv["start station name"] == "West St & Chambers St", "start station latitude"].unique()
west_chambers_lng = jan_19_csv.loc[jan_19_csv["start station name"] == "West St & Chambers St", "start station longitude"].unique()
west_chambers_coord = (west_chambers_lat[0], west_chambers_lng[0])
print(west_chambers_coord)

broad_e14_lat = jan_19_csv.loc[jan_19_csv["start station name"] == "Broadway & E 14 St", "start station latitude"].unique()
broad_e14_lng = jan_19_csv.loc[jan_19_csv["start station name"] == "Broadway & E 14 St", "start station longitude"].unique()
broad_e14_coord = (broad_e14_lat[0], broad_e14_lng[0])
print(broad_e14_coord)

w21_6_ave_lat = jan_19_csv.loc[jan_19_csv["start station name"] == "W 21 St & 6 Ave", "start station latitude"].unique()
w21_6_ave_lng = jan_19_csv.loc[jan_19_csv["start station name"] == "W 21 St & 6 Ave", "start station longitude"].unique()
w21_6_ave_coord = (w21_6_ave_lat[0], w21_6_ave_lng[0])
print(w21_6_ave_coord)

ave12_w40_lat = jan_19_csv.loc[jan_19_csv["start station name"] == "12 Ave & W 40 St", "start station latitude"].unique()
ave12_w40_lng = jan_19_csv.loc[jan_19_csv["start station name"] == "12 Ave & W 40 St", "start station longitude"].unique()
ave12_w40_coord = (ave12_w40_lat[0], ave12_w40_lng[0])
print(ave12_w40_coord)

chris_greenwich_lat = jan_19_csv.loc[jan_19_csv["start station name"] == "Christopher St & Greenwich St", "start station latitude"].unique()
chris_greenwich_lng = jan_19_csv.loc[jan_19_csv["start station name"] == "Christopher St & Greenwich St", "start station longitude"].unique()
chris_greenwich_coord = (chris_greenwich_lat[0], chris_greenwich_lng[0])
print(chris_greenwich_coord)

broad_w60_lat = jan_19_csv.loc[jan_19_csv["start station name"] == "Broadway & W 60 St", "start station latitude"].unique()
broad_w60_lng = jan_19_csv.loc[jan_19_csv["start station name"] == "Broadway & W 60 St", "start station longitude"].unique()
broad_w60_coord = (broad_w60_lat[0], broad_w60_lng[0])
print(broad_w60_coord)

(40.751872999999996, -73.97770600000001)
(40.73704984, -73.99009296)
(40.740343200000005, -73.98955109)
(40.7505853470215, -73.9946848154068)
(40.71754834, -74.01322069)
(40.73454567, -73.99074142)
(40.74173969, -73.99415556)
(40.76087502, -74.00277668)
(40.73291553, -74.00711384)
(40.76915505, -73.98191841)

In [89]:
start_stations_lat = [pershing_lat[0],e_17_lat[0],eighth_w31_lat[0],broad_e22_lat[0],broad_e14_lat[0],w21_6_ave_lat[0],
                      ave12_w40_lat[0],chris_greenwich_lat[0],broad_w60_lat[0],ave12_w40_lat[0]]
start_stations_lat

[40.751872999999996,
 40.73704984,
 40.7505853470215,
 40.740343200000005,
 40.73454567,
 40.74173969,
 40.76087502,
 40.73291553,
 40.76915505,
 40.76087502]

In [99]:
start_stations_lng = [pershing_lng[0],e_17_lng[0],eighth_w31_lng[0],broad_e22_lng[0],broad_e14_lng[0],w21_6_ave_lng[0],
                      ave12_w40_lng[0],chris_greenwich_lng[0],broad_w60_lng[0],ave12_w40_lng[0]]
start_stations_lng

[-73.97770600000001,
 -73.99009296,
 -73.9946848154068,
 -73.98955109,
 -73.99074142,
 -73.99415556,
 -74.00277668,
 -74.00711384,
 -73.98191841,
 -74.00277668]

In [100]:
top_10_start_station["Latitude"] = start_stations_lat
top_10_start_station["Longitude"] = start_stations_lng

C:\Users\alexv\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\alexv\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [101]:
top_10_start_station.rename(columns = {"start station name":"Number of Trips"}, inplace = True)
top_10_start_station

                               Number of Trips   Latitude  Longitude
Pershing Square North                 156575.0  40.751873 -73.977706
E 17 St & Broadway                    121781.0  40.737050 -73.990093
8 Ave & W 31 St                       119958.0  40.750585 -73.994685
Broadway & E 22 St                    113138.0  40.740343 -73.989551
Broadway & E 14 St                    113012.0  40.734546 -73.990741
W 21 St & 6 Ave                       110305.0  40.741740 -73.994156
West St & Chambers St                 105636.0  40.760875 -74.002777
Broadway & W 60 St                    103167.0  40.732916 -74.007114
Christopher St & Greenwich St         101413.0  40.769155 -73.981918
12 Ave & W 40 St                       99300.0  40.760875 -74.002777

In [103]:
end_stations_lat = [pershing_lat[0],e_17_lat[0],broad_e22_lat[0],eighth_w31_lat[0],west_chambers_lat[0],
                   broad_e14_lat[0],w21_6_ave_lat[0],ave12_w40_lat[0],chris_greenwich_lat[0],broad_w60_lat[0]]
end_stations_lng = [pershing_lng[0],e_17_lng[0],broad_e22_lng[0],eighth_w31_lng[0],west_chambers_lng[0],
                   broad_e14_lng[0],w21_6_ave_lng[0],ave12_w40_lng[0],chris_greenwich_lng[0],broad_w60_lng[0]]

In [107]:
top_10_end_station["Latitude"] = end_stations_lat
top_10_end_station["Longitude"] = end_stations_lng
top_10_end_station.rename(columns = {"end station name":"Number of Trips"}, inplace = True)
top_10_end_station

C:\Users\alexv\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\alexv\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                               Number of Trips   Latitude  Longitude
Pershing Square North                 155536.0  40.751873 -73.977706
E 17 St & Broadway                    125466.0  40.737050 -73.990093
Broadway & E 22 St                    123146.0  40.740343 -73.989551
8 Ave & W 31 St                       121631.0  40.750585 -73.994685
West St & Chambers St                 116003.0  40.717548 -74.013221
Broadway & E 14 St                    114178.0  40.734546 -73.990741
W 21 St & 6 Ave                       110523.0  40.741740 -73.994156
12 Ave & W 40 St                      103748.0  40.760875 -74.002777
Christopher St & Greenwich St         101823.0  40.732916 -74.007114
Broadway & W 60 St                     99931.0  40.769155 -73.981918